{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "airbnb-typescript/base"
    ],
    "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
        "@typescript-eslint/class-methods-use-this": "off",
        "@typescript-eslint/no-underscore-dangle": "off",
        "@typescript-eslint/no-plusplus": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/eol-last": "off",
        "@typescript-eslint/linebreak-style": "off",
        "@typescript-eslint/comma-dangle": "off",
        "@typescript-eslint/import/prefer-default-export": "off",
        "@typescript-eslint/import/order": "off",
        "max-len": ["error", {
                "comments": 150,
                "code": 150
            }
        ],
        "@typescript-eslint/indent": ["error", 4],
        "@typescript-eslint/quotes": ["error", "single", {
                "@typescript-eslint/allowTemplateLiterals": true,
                "@typescript-eslint/avoidEscape": true
            }
        ]
    }
}